<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Wardrobe Dashboard</title>
  <link rel="stylesheet" href="css/dashboard.css">
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
<% layout('./layouts/boilerplate') -%>

</head>
<body>
  <div class="container">
    <div class="header">
      <h1 style="font-size: 36px;">Wardrobe Dashboard</h1>
    </div>
      


    <!-- Grid Layout -->
    <div class="grid-container">
      <!-- Left Section: Wardrobe Overview -->
      <div class="wardrobe-overview">
        <div class="dashboard-section dbs-overview">
          <h1 style="color: #333333e1; font-size: 24px;">Wardrobe Overview</h1>
          <h2 style="color: #3c3c3ce1; margin-bottom: 0px;">Hi, <%=data.user.username%></h2>
          <p style="margin-top: 1px;"><%=data.user.email %></p>
          <p><strong>Total Items:</strong> <%= data.totalItems %></p>
          <p><strong>Most Used Item:</strong> <%= data.mostUsedItem.name %> (Used <%= data.mostUsedItem.usageCount %> times)</p>
          <p><strong>Least Used Item:</strong> <%= data.leastUsedItem.name %> (Used <%= data.leastUsedItem.usageCount %> time)</p>
        </div>
      </div>

      <!-- Right Section: Category Breakdown and Sustainability Score -->
      <div class="right-section">
        <div class="right-grid">
          <div class="dashboard-section">
            <h2 style="color: #333333e1;"> Category Breakdown</h2>
            <canvas id="categoryChart" style="max-height: 200px;"></canvas>
          </div>

          <div class="dashboard-section">
            <h2 style="color: #333333e1;">Sustainability Score</h2>
            <canvas id="sustainabilityChart" style="max-height: 200px;"></canvas>
            <p>Your wardrobe's sustainability score is <strong><%= data.sustainabilityScore %> out of 100</strong>.</p>
            <div class ="progress-bar">
              <div class="outer">
                <div class="inner"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="right-bottom-section">
          <div class="dashboard-section collection-overview">
            <h2>Wardrobe Collection</h2>
            <a href="#" class="button">Watches</a>
            <a href="#" class="button">Shirts</a>
            <a href="#" class="button">Pants</a>
            <a href="#" class="button">Tops</a>
            <a href="#" class="button">Shoes</a>
          </div>
      </div>
    </div>

  </div>
  <script>
     const sustainabilityScoreValue = 78;
  </script>
  <script src="javascripts/dashboard.js"></script>
</body>
</html>
